!!! 5
%html
  %head
    %title Realtime Example - d3-tsline
    %link( rel="stylesheet" type="text/css" href="../../css/d3.tsline.css" )
    %link( rel="stylesheet" type="text/css" href="css/chart.css" )

    %script(type="text/javascript" src="../../js/d3.js")
    %script(type="text/javascript" src="../../js/d3.time.js")
    %script(type="text/javascript" src="../../js/d3.tsline.js")


  %body
    #container
      #chart
    .legend
      .line.s_all Overall Average
      .line.s_male Male
      .line.s_female Female
    %script(type="text/javascript" src="js/chart.js")
