#container {
    font: 10px sans-serif;
    margin: 0px auto 22px;
    clear: both;
    width: 960px;
}

#chart .view svg {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

path.line {
    stroke-width: 3px;
    fill: none;
}

.line.s_all {
    stroke: black;
    color: black
}

.line.s_male {
    stroke: #89CFF0;
    color: #89CFF0;
}

.line.s_female {
    stroke: pink;
    color: pink;
}

.line.summary {
    stroke-width: 1px;
}

div.summary {
    display: none;
}

.legend {
    text-align: center;
}
